body {
    margin: 0;
    background: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.navbar {
    background: #000000;
    padding: 25px 0;
    position: sticky;
    top:0;
}

.contrainer{
    max-width: 1100px;
    margin: 0 auto;
}

.main_nav{
    text-align: right;
}

.main_nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.main_nav ul li{
    display: inline-block;
    margin-left: 20px;
}

.main_nav ul li a{
    color: #ffffff;
    text-decoration: none;
}

.logo {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    padding: 0px 0;
}

.flag {
    width: 28px;
    height: 21px;
}

.banner img{
    max-width: 100%;
}

.footer{
    color: #ffffff;
    background: #000000;
    text-align: center;
    padding: 10px;
}